/* Font*/
.st-font{
    font-family: 'Satisfy';
}
html,
body{
    height: 100%;
}
.container-fluid{
    height: 100%;
} 
/* service icon color */
.i-color{
    color: chartreuse;
}
/* service subtitle color */
.sub-color{
    color: silver;
}
a.nav-link{
    color: whitesmoke;
  
}
a.nav-link:hover{
    color:black;
    background-color: rgba(190, 156, 110, 0.26);

}
a.nav-link.active{
    color:black;
    background-color:chocolate ;
    font-weight: bold;
}
label{
    color: darkorange;
}
