{% extends 'core/base.html'%}
{% load static %}
{% block content %}
<div class=" mt-5 ">
    <div class="text-center">
    <img src='{% static "core/images/sdr.jpg "%}' alt="nks" class="img-thumbnail   " width="100px" height="50px">

    </div>
    <div class="text-white  text-justify mx-5  mt-5 px-4  " style="line-height: 2rem ;">
        <h3 class="text-white mt-2 font-weight-bold st-font ">Hello, </h3>

        <p style="text-indent: 100px;">I am <b class="text-warning">Nikhil KUMAR </b>having 5 years of full-stack development experience for global businesses,
            I offer the technical expertise ,you are seeking for your web development position.
        </p>
        <p>
            scince earning my bachelor,s degree in internet and web development from <b class="text-danger">GANDHI INSTITUTE FOR EDUCATION AND TECHNOLOGY</b>, I have served as a web development at <b class="text-warning">GS Technology</b>,
            one of biggest premier digital marketing and web development firm. In this position ,I have led web development projects for clients in diverse industries including technology,
            manufacturing,pharmaceutical,hospitality,retail and financial services. 
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet spiente reiciendis numquam adipisicing elit.
            Eveniet hgfdshjkj. jhdsukh hjhjdsjk jkjadsm hjbjb, hjjjkjhj.
        </p>
    </div>
    <div class="text-center">
        <a href="/cont/contact/" class="btn btn-outline-warning mr-5 my-3 "> Hire me</a>
    <a href="/cont/contact/" class="btn btn-outline-info my-3 ">Contact</a>
    </div>

{% endblock %}
