{% load static%}
<div class="border-right: 5px solid red; ">
    <div class="text-center">
        <img src='{% static "core/images/sdr.jpg "%}' alt="nks" class="img-fluid rounded-circle mt-3 " width="100px" height="100px">
        <h3 class="text-light mt-2 st-font ">Nikhil Sardar</h3>
    </div>
    <hr class="text-danger">
    <nav class="nav flex-column text-center">
        <a href='/' class="nav-link  {{home}} "  >home</a>
         <a href="/serv/services/ " class="nav-link {{services}}" >services</a>
         <a href="/edu/skill/" class="nav-link {{skill}}">skill</a>
         <a href="/cont/contact/" class="nav-link {{contact}}">contact</a>
    </nav>
</div>
ghuyiuiu