{% extends 'core/base.html ' %}
{% block content  %}
{% load static %}

<div class="container mt-5  ">
    <h1 class="text-warning border-bottom">Skill</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">Html/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100% " aria-valuenow='100' aria-valuemin='0' aria-valuemax= '100'>100</div>
    
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2 ">
            <h3 class="mt-5">Javascript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width: 95% " aria-valuenow='95' aria-valuemin='0' aria-valuemax= '100'>95</div>
    
            </div>
        </div>

        <div class="col-sm-5  ">
            <h3 class="mt-5">Python</h3>
            
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary " role="progressbar " style="width: 100% " aria-valuenow='100' aria-valuemin='0' aria-valuemax= '100'>100</div>
    
            </div>
        </div>   <div class="col-sm-5 offset-sm-2 ">
            <h3 class="mt-5">Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width: 40% " aria-valuenow='40' aria-valuemin='0' aria-valuemax= '100'>40</div>
    
            </div>
        </div>   <div class="col-sm-5  ">
            <h3 class="mt-5">C+</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated  bg-secondary" role="progressbar " style="width: 90% " aria-valuenow='90' aria-valuemin='0' aria-valuemax= '100'>95</div>
    
            </div>
        </div>   <div class="col-sm-5 offset-sm-2 ">
            <h3 class="mt-5">SQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " style="width: 95% " aria-valuenow='95' aria-valuemin='0' aria-valuemax= '100'>95</div>
    
            </div>
        </div>
    </div>
  
</div>
{% endblock%}